body {
    background-color: #77ba99;
    font-family: "Courier New", sans-serif
}

.title {
    text-align: center;
    font-size: 64px;
    background-color: #262730;
    color: #eff0d1;
}

.image {
    width: 300px;
    height: auto;
}

.recipe-link {
    font-size: 24px;
    color: #d33f49;
}